parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests    
    ignoreErrors:
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
        -
        	message: '#Cannot call method getBody\(\) on Psr\\Http\\Message\\ResponseInterface\|null\.#'
        	path:  src/Client.php
